CompiladorFM/conf/automato.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT gramatica (estado+)>
<!ELEMENT estado (id,final,tipo,(transicao)* )>
<!ELEMENT id (#PCDATA)*>
<!ELEMENT final (#PCDATA)*>
<!ELEMENT tipo (#PCDATA)*>
<!ELEMENT transicao (entradas, proximo)>
<!ELEMENT entradas (#PCDATA)*>
<!ELEMENT proximo (#PCDATA)*>